#nav-bar {
  height: 80px;
  background-color: #00a087;
  position: top;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
}

#nav-bar .logo{
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header{
  
  font-size: 3em;
  line-height: 80px;
  float: left;
  padding-left: 10px;
}

#nav-bar .compose-button{
  float: right;
  background-color: rgb(232, 253, 255);
  width: 100px;
  height:50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  border-radius: 10%;
}

#nav-bar .edit{
  width: 20px;
  height:20px;

}
